.homepage{
    margin: auto;
    padding: 0;
    width: 90%;

    .container_video{
        flex: 0.8;
        background-color: #f9f9f9;
        padding: 40px 0px;
        padding-bottom: 0;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 10px!important;
    }

    // .container_video > h2 {
    //     margin-left: 5px;
    //     margin-bottom: 20px;
    //     font-weight: 700;
    //     text-transform: uppercase;
    //     border-bottom: 1px solid lightgray;
    // }

    .label_video_type{
        margin-left: 5px;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px solid #1abc9c;
    }

    .layout_video{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// .following-thing{
    
// }

.upper{
    width: 90%;
    margin: auto;
}

.showVideos_ad{
    width: 100%;

    .adCard{
        height: auto;

        .adCard_img{
            a{
                width: 100%;
            }

        }
    }
}