// .videoCard{
//     width: 30.33333333333333%;
//     height: 35rem;
//     margin: 0 auto 2rem;
//     padding: 2px;
//     background: #f5f5f5;

//     .videoCard_thumbnail{
//         display: block;
//         height: 100%;
//         text-align: center;
//         align-items: center;
//         margin: auto;
//         display: flex;
//         justify-content: center;
//         background: #f5f5f5;
        

//         img{
//             display: block;
//             max-height: 100%;
//             max-width: 100%;
//             background-color: #f5f5f5;
//             margin: 0;
//             border-radius: 5px;
//         }
//     }

//     .videoCard_information{
//         height: 100%;
//         width: 100%;
//     }
// }

// THIS IS THE YT CLONE VIDEO THING

.videoCard{
    margin-bottom: 40px;
    max-width: 250px;
    min-width: 25%;
    align-content: flex-start;

    .videoCard_thumbnail {
        height: 140px;
        width: 250px;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #eeebeb;
        border-radius: 5px;
        
        img{
            max-width: 250px;
            height: 140px;
            background-color: #f5f5f5;
            margin: auto;
            border-radius: 5px;
        }

        .react-player{
            height: 140px;
            width: 250px;
            margin: 0;
            border-radius: 5px;
            overflow: hidden;
        }

    }

    a{
        color: black;
    }

    .videoCard_info{
        display: flex;
        margin-top: 10px;
        padding-right: 30px;
    }

    .videoCard_text{
        margin-left: 15px;
    }

    .videoCard_text > h4{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .videoCard_text > a > h4{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .videoCard_text > p {
        font-size: 14px;
        color: gray;
    }

    .videoCard_text > a > p {
        font-size: 14px;
        color: gray;
    }

    .video_avatar{
        height: 30px !important;
        width: 30px !important;
    }

}

@media only screen and (max-width: 1200px) {

    .videoCard{
        margin-right: 10px;
    }
  
}

@media only screen and (max-width: 360px) {

    .videoCard{
        margin-right: 0px;
    }
  
}
