.adMiddle{
    margin: 0;

    .adMiddle_adCard{
    
        
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .adMiddle_adCard_img{
            a{
                
                
                display: flex;
                justify-content: center;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                }
            }
        }
    }
}