.horizontalImageCard{
    max-width: 250px;
    min-width: 25%;
    margin-right: 20px;
    position: relative;

    .horizontalImageCard_imageCardsThumbnail{
        height: 140px;
        width: 250px;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        
        img{
            max-width: 250px;
            height: 140px;
            background-color: #f5f5f5;
            margin: auto;
            border-radius: 5px;
        }

        .react-player{
            height: 140px;
            width: 250px;
            margin: 0;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    .horizontalImageCard_imageCardsInfo{
        flex: 1;
        margin: auto;
        width: calc(90%);
        display: block;
        
        
        .horizontalImageCard_text{                        
            
            a{
                color: black;
                h4{
                    overflow: hidden;
                    white-space: nowrap;
                    display: block; /* for inline elements e.g. span, strong, em etc */
                    text-overflow: ellipsis;
                    width: calc(90%); /* The trick is here! */
                    font-size: 14px;
                }
            }

            .horizontalImageCard_desc{
                p{
                    overflow: hidden;
                    white-space: nowrap;
                    display: block; /* for inline elements e.g. span, strong, em etc */
                    text-overflow: ellipsis;
                    width: calc(90%); /* The trick is here! */
                    height: 40px;
                    line-height: 20px;
                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -ms-box-orient: vertical;
                    box-orient: vertical;
                    -webkit-line-clamp: 2;
                    -moz-line-clamp: 2;
                    -ms-line-clamp: 2;
                    line-clamp: 2;
                    
                }
            }

            p{
                font-size: 12px;
            }
        }
    }


    .userImages-imageCard-edit-option{
        display: none!important;
        position: absolute;
        top: 0;
        right: 5px!important;
        z-index: 5;
        display: flex;
        color: white;
        .userImages-imageCard-edit-option-item{
            background-color: #1abc9cab;
            padding: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            
            .icon{
                font-size: 20px;
            }
        }

        a{
            color: white;
        }
    }
}

    .modalWrap{
        h2{
            color: white;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 2px solid rgba(68, 167, 98, 0.753);
        }
    
        p{
            font-size: 15px;
            text-align: center;
        }
    }

    .thing{
        position: relative;
    }

    .thing-thing{
        z-index: 2;
        width: 100%;
        height: 101%;
        padding: 20px;
        text-align: center;
        position: absolute;
    }

    .tier-thing{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        z-index: 2;
        width: 100%;
        min-height: 101%;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
    }


@media only screen and (max-width: 1200px) {

    .horizontalImageCard{
        margin-right: 10px;
    }
  
}

@media only screen and (max-width: 360px) {

    .horizontalImageCard{
        margin-right: 0px;
    }
  
}