.homepage{
    margin: auto;
    padding: 0;
    width: 95%!important;

    .container_video{
        flex: 0.8;
        background-color: #f9f9f9;
        padding: 40px 20px;
        padding-bottom: 0;
        border-radius: 0px!important;
        margin-bottom: 10px!important;
        margin-top: 50px!important;
        box-shadow: -1px 3px 3px -2px #54e2c6, 
                    1px 3px 2px -1px rgba(0, 0, 0, 0.1px);

                    // #4abfc7
        border: 1px solid rgba(0, 0, 0, 0.1px);
    }

    .homepage_column{
        display: flex;
        width: 100%;
        .homepage_columnTag {
            flex: 1
        }

        .homepage_columnRanking{
            h2{
                color: white;
            }
            flex: 0.2;
            
            margin-left: 10px;
            background-color: #333333;
            padding: 40px 20px;
            padding-bottom: 0;
            color: white;
            margin-bottom: 50px!important;
            margin-top: 50px!important;
            box-shadow: 4px 3px 0px #54e2c6;

            a{
                color: white;
            }

            p{
                padding: 0;
                margin: 0;
                margin-top: 3px;
                margin-bottom: 5px;
                color: #808080;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    // .container_video > h2 {
    //     margin-left: 5px;
    //     margin-bottom: 20px;
    //     font-weight: 700;
    //     text-transform: uppercase;
    //     border-bottom: 1px solid lightgray;
    // }

    .label_video_type{
        margin-left: 0px!important;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px solid #1abc9c;
    }

    .layout_video{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        a{
            color: #808080;
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
        }
    }
}

// .following-thing{
    
// }

.upper{
    width: 99%;
    margin: auto;
}