.uploadImage{
    margin: auto;
    width: 90%;
    background-color: #f9f9f9;

    button{
        width: 50%;
    }

    .uploadImage_container{
        
        input, textarea{
            border-radius: 3px;
            width: 100%;
            border: 2px solid #ebebeb;
            color: #34495e;
            transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
        }

        button{
            width: 25%;
            margin: 0;
        }

        input:focus,textarea:focus{
            border-color: #1abc9c;
            outline: 0;
            box-shadow: none;
            
        }

        .imagePreview_container{
            display: flex;
            flex-wrap: wrap;
            
            .imagePreview{
                width: 250px;
                height: 150px;
                margin-bottom: 10px;
                margin-right: 10px;
                position: relative;
                background-color: lightgray;
                border-radius: 5px;

                img{
                    max-width: 100%;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                }

                span{
                    position: absolute;
                    display: block;
                    color: white;
                    top: 0;
                    right: 5px;
                    font-size: 20px;
                    padding: 5px;
                    background-color: #1abc9c;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    cursor: pointer;
                }

            }
        }
        
        .showTags{
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            color: #808080;
            span{
                margin-right: 8px;
                padding: 5px;
            }

            .tag{
                border-radius: 5px;
                background-color: aquamarine;
            }
        }

        .uploadImage_radioBoxContainer{
            label{
                font-size: 1.8rem;
                margin-top: 15px;
            }
            span{
                font-size: 16px!important;
            }

            .uploadImage_radioBox{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                color: #34495e;

                .MuiRadio-colorSecondary.Mui-checked {
                    color: #1abc9c;
                }

                .MuiRadio-root {
                    font-size: 80px;
                }

                .MuiSvgIcon-root {
                    fill: currentColor;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    font-size: 2rem;
                    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    flex-shrink: 0;
                    user-select: none;
                }
            }
        }

    }

}