.reportAnalytics{
    .reportAnalytics_top{
        span{
            margin: 5px;
            background-color: rgba(75, 192, 192, 0.2);
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
        }

        .color{
            background-color: rgba(75, 192, 192, 0.6);
        }
    }

    .reportAnalytics_bottom{
        
        .reportAnalytics_bottom_label{
            margin: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            color: #808080;
            align-items: center;

            span{
                margin-left: 10px;
                cursor: pointer;
                text-decoration: underline;
            
                input{
                    outline: none;
                    border: 1px solid #808080;
                    font-weight: 700;
                    color: #808080;
                    width: 25%;
                }

                input:focus{
                    border: 1px solid #808080;
                    outline: none;
                }
            }
            
            .not-underLine{
                cursor: text;
                text-decoration: none;
            }
            
        }

        .reportAnalytics_bottom_container{
            padding: 10px;
    
            &:nth-child(even) {
                background-color: #e3e3e3;
            }
    
            .reportAnalytics_bottom_item{
                padding: 10px;
                line-height: 1.3;
            }
    
            .button{
                background-color: #1abc9c;
                padding: 10px;
                width: 15%;
                border-radius: 4px;
                margin-left: 10px;
                color: white;
                cursor: pointer;
                text-align: center;
            }
        }
        
    }
}