.adminCategory{
    .MuiPaper-rounded {
        border-radius: 0px!important;
    }

    .MuiPaper-elevation1 {
        box-shadow: 7px 8px 5px #5bccb5!important;
    }

    .delete_button{
        cursor: pointer;
        color: rgb(226, 61, 61);
        font-weight: 700;
    }

    .button-category{
        position: relative;
        left: -10px;
        margin-bottom: 10px;

        button{
            width: 15%;
            margin: 0;
            margin-top: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 15px;
        }
    }

    .addCategory_container{
        margin-bottom: 10px;
        .addCategory_containerButtons{
            display: flex;
            button{
                margin: 10px;
                margin-left: 0px;
                width: 10%;
                font-size: 15px;
            }
        }
    }

    .tableShow{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        z-index: 5;
        width: 40%;
        
        
        padding: 10px;
        right: -1000px;
        top: 200px;
        
        box-shadow: 0 0 5px -1px rgb(170, 170, 170);
        padding: 16px 0px;
        transition: 0.5s;
        visibility: hidden;
        
        h2{
            color: white;
            padding: 10px;
            border-bottom: 2px solid #5bccb5;
        }

        p{
            text-align: left;
            padding: 5px
        }

        .button_flex{
            display: flex;
            justify-content: center;
            button{
                width: 30%;
                margin: 10px;
            }
        }
    }

    .active{
        visibility: visible;
        right: 35px;
    }
}