.imageCard{
    margin-bottom: 40px;
    max-width: 250px;
    min-width: 20%;
    align-content: flex-start;
    margin: 10px;

    .imageCard_thumbnail {
        height: 140px;
        width: 250px;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #eeebeb;
        border-radius: 5px;
        
        img{
            max-width: 250px;
            height: 140px;
            background-color: #f5f5f5;
            margin: auto;
            border-radius: 5px;
        }

    }

    a{
        color: black;
    }

    .imageCard_info{
        display: flex;
        margin-top: 10px;
        padding-right: 30px;
    }

    .imageCard_info2_title{
        overflow: hidden;
        white-space: nowrap;
        display: block; /* for inline elements e.g. span, strong, em etc */
        text-overflow: ellipsis;
        width: calc(95%); /* The trick is here! */
    }

    .imageCard_info2{
        display: flex;
        align-items: center;
        padding-right: 30px;
        height: 42px;

        .imageCard_text2{
            margin-left: 10px;
            font-size: 13px;
            
            p{
                color: gray;
            }
        }
    }

    .imageCard_text{
        margin-left: 15px;
    }

    .imageCard_text > h4{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .imageCard_text > a > h4{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .imageCard_text > p {
        font-size: 14px;
        color: gray;
    }

    .imageCard_text > a > p {
        font-size: 14px;
        color: gray;
    }

    .imageCard_avatar{
        height: 30px !important;
        width: 30px !important;
    }
}