.modalOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 5;
  }
  
  .modalWrap {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    // -webkit-backface-visibility: hidden;
  
    .modal {
      border-radius: 5px;
      position: absolute;
      top: 50%; left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #333333;
      color: white;
      width: 95%;
      padding: 2rem;
      max-width: 60rem;
      height: auto;
      min-height: 20.0rem!important;
      pointer-events: all;
      max-height: 95vh;
      overflow: auto;
      border: 3px solid rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 3px 7px rgba(56, 56, 56, 0.3);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }

    h2{
      color: white;
      padding-bottom: 5px;
      border-bottom: 2px solid rgba(68, 167, 98, 0.753);
    }

    .modal_Buttons{
      display: flex;
      button{
        margin: 5px;
      }
    }
  }

  

  