.videoDetails{
    padding: 10px;
    background-color: #f5f5f5;
    position: relative;

    .videoDetails_top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .videoDetails_leftSide{
            width: 69%;
                        
            .video-player{
                
                position: relative;
                padding-top: 56.25%;
                /* padding-top: 56.25%; Player ratio: 100 / (1280 / 720) */
                
            }
              
            .react-player{
                position: absolute;
                top: 0;
                left: 0;
            }

            .videoDetails_leftSide_title{
                margin-top: 10px;
            }

            .videoDetails_leftSide_option{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding-bottom: 10px;
                font-size: 16px;

                .videoDetails_leftSide_optionView{
                    color: #606060;
                }

                .videoDetails_leftSide_optionItems{
                    display: flex;

                    .videoDetails_leftSide_optionItem{
                        font-size: 17px;
                        margin-left: 10px;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        .videoDetails_leftSide_optionIcon{
                            font-size: 20px;
                        }
                    }
                }
            }

            .liked{
                color: #e22590;
            }

            .saved{
                color: #f5ab00;
            }

            .videoDetails_leftSide_tags{
                display: flex;
                flex-wrap: wrap;
                color: #808080;
                margin-bottom: 10px;
                a{
                    color: #808080;
                }
                span{
                    margin-right: 8px;
                    padding: 5px;
                    font-size: 16px;
                }

                .tag{
                    border-radius: 5px;
                    background-color: aquamarine;
                }
            }

            .videoDetails_leftSide_desc{
               padding: 5px;
               margin: 0;
               padding-bottom: 10px;
               border-bottom: 1px solid rgba(0, 0, 0, 0.1);

               p{
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
               }
            }

            .videoDetails_comment{
                display: flex;
                padding: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                .videoDetails_commentTextBox{
                    width: 90%;
                }

                .videoDetails_commentButton{
                    
                    margin: auto;
                    text-align: center;
                    
                    button{
                        color: white;
                        background-color: #1abc9c;
                        padding: 10px 5px;
                        font-weight: 700;
                        font-size: 11px;
                    }
                }
            }
        }

        //RIGHT SIDE ==============================================================

        .videoDetails_rightSide{
            width: 31%;
            min-width: 150px;
            padding-left: 10px;

            
            .videoDetails_rightSide_info{
                margin-right: 10px;
                background-color: #333333;
                text-align: center;
                padding: 5px;
                border-radius: 5px;
                width: 250px;
                margin: auto;
                

                .videoDetails_rightSideAvatar{
                    margin: auto;
                    width: 50px!important;
                    height: 50px!important;
                }

                .videoDetails_rightSideText{
                    h4{
                        font-size: 14px;
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                
                    a {
                        h4{
                            color: whitesmoke;
                            font-size: 14px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                
                    p {
                        font-size: 14px;
                        color: #c4c4c4;
                    }

                    .videoDetails_rightSideText_button{
                        color: white;
                        background-color: #1abc9c;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                }

            }

            .videoDetails_sideVideoCard{
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                margin-top: 10px;
            }

            .videoDetails_rightSide_videoCards{
                padding: 5px;
                display: flex;
                margin: auto;

                .videoDetails_rightSide_videoCardsThumbnail{
                    height: 94px;
                    width: 168px;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    background-color: #eeebeb;
                    border-radius: 5px;

                    .thing{
                        .react-player{
                            height: 94px;
                            width: 168px;
                            margin: 0;
                            border-radius: 5px;
                            overflow: hidden;
                        }
                    }
                    
                    img{
                        max-width: 168px;
                        height: 94px;
                        background-color: #f5f5f5;
                        margin: auto;
                        border-radius: 5px;
                    }

                }

                .videoDetails_rightSide_videoCardsInfo{
                    flex: 1;
                    margin-left: 10px;
                    width: calc(50%);
                    display: block;
                    
                    
                    .videoCards_text{                        
                        
                        a{
                            color: black;
                            h4{
                                overflow: hidden;
                                white-space: nowrap;
                                display: block; /* for inline elements e.g. span, strong, em etc */
                                text-overflow: ellipsis;
                                width: calc(90%); /* The trick is here! */
                                font-size: 14px;
                            }
                        }

                        p{
                            font-size: 12px;
                        }
                    }
                }
            }

        }
    }

    //FOR THE COMMENT THING=================================================

    .videoDetails_displayComment{
        width: calc(90%);
        .videoDetails_displayComment_container{
            display: flex;
            padding: 5px;
            padding-top: 20px;

            .videoDetails_displayComment_avatar{
                padding-right: 10px;
            }

            .videoDetails_displayComment_info{
                .videoDetails_displayComment_name{
                    font-weight: 700;
                    padding-bottom: 5px;
                }

                .videoDetails_displayComment_comment{
                    padding-bottom: 10px;
                    line-height: 1.2;
                }

                .videoDetails_displayComment_buttons{
                    padding-bottom: 5px;
                    display: flex;
                    .videoDetails_displayComment_button{
                        cursor: pointer;
                        margin-right: 10px;
                        background-color: #1abc9c;
                        border-radius: 5px;
                        padding: 5px;
                        color: white;
                        .videoDetails_displayComment_icon{
                            font-size: 17px;
                            color: white;
                        }
                    }
                }
            }
        }

        .videoDetails_displayReplyComment_container{
            display: flex;
            padding: 5px;
            padding-top: 20px;
            margin-left: 50px;

            .videoDetails_displayComment_avatar{
                padding-right: 10px;
            }

            .videoDetails_displayComment_info{
                .videoDetails_displayComment_name{
                    font-weight: 700;
                    padding-bottom: 5px;
                }

                .videoDetails_displayComment_comment{
                    padding-bottom: 10px;
                    line-height: 1.2;
                }

                .videoDetails_displayComment_buttons{
                    padding-bottom: 5px;
                    display: flex;
                    .videoDetails_displayComment_button{
                        cursor: pointer;
                        margin-right: 10px;
                        background-color: #1abc9c;
                        border-radius: 5px;
                        padding: 5px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        .videoDetails_displayComment_icon{
                            font-size: 17px;
                            color: white;
                        }
                    }
                }

            }
        }

        .reply_box{
            margin-left: 50px;
        }

        .outa{
            position: relative;
            padding: 0;
            .outainfo{
                position: absolute;
                top: -37px;
                left: 92px;
                z-index: 10;
            }
        }
    }

    //VIDEO BOTTOM==========================================================

    .videoDetails_bottom{
        display: none;
        .videoDetails_comment{
            display: flex;
            .videoDetails_commentTextBox{
                width: 90%;
            }

            .videoDetails_commentButton{
                
                margin: auto;
                text-align: center;
                margin-left: 5px;
                
                button{
                    color: white;
                    background-color: #1abc9c;
                    padding: 10px 5px;
                    font-weight: 700;
                }
            }
        }
    }


    //THE POP UP THING WHEN CLICK LIKE OR SOMETHING
    .popUpWhenLike{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        z-index: 5;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0;
        bottom: -300px;
        height: 290px;
        box-shadow: 0 0 5px -1px rgb(170, 170, 170);
        padding: 16px 0px;
        overflow-y: scroll;
        transition: 0.5s;
        visibility: hidden;

        .popUpWhenLike_title{
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: bold;
        }

        .popUpWhenLike_turnOffIcon{
            position: absolute;
            top: 10px;
            color: white;
            right: 20px;
            cursor: pointer;
            transition: color 0.2s ease 0s;
            .popUpWhenLike_icon{
                font-size: 35px;
            }
        }

        .popUpWhenLike_turnOffIcon:hover{
            color: #e22590;
        }

        .popUpWhenLike_items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            .popUpWhenLike_item{
                background-color: rgb(245, 245, 245);
                color: black;
                height: 200px;
                padding: 0px 0px;
                align-items: center;
                -webkit-box-align: center;
                border-radius: 8px;
                width: 408px;
                position: relative;
                //392px
                margin-bottom: 10px;

                .popUpWhenLike_item_top{
                    display: flex;
                    border-radius: 8px;

                    .popUpWhenLike_item_topInner{
                        cursor: pointer;
                        .video-player-inner{
                            width: 204px;
                            height: 114.75px;
                            display: flex;
                            border-radius: 8px;
                            background-color: rgba(0,0,0,0.5);
                        
                            .react-player-inner{
                                width: 204px;
                                border-radius: 8px;
                                margin: 0;
                                overflow: hidden;
                            }

                            img{
                                max-width: 204px;
                                height: 100%;
                                background-color: #f5f5f5;
                                margin: auto;
                                border-radius: 8px;
                            }
                        }

                        a{
                            color: black;
                            .popUpWhenLike_item_topInnerInfo{
                                overflow: hidden;
                                white-space: nowrap;
                                display: block;
                                text-overflow: ellipsis;
                                width: calc(70%);
                                font-size: 15px;
                            }
                        }

                        
                    }
                }
                .popUpWhenLike_item_bottom{
                    height: 64px;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;

                    .popUpWhenLike_item_bottomChannel{
                        display: flex;
                        align-items: center;
                        margin: 10px;

                        .popUpWhenLike_item_bottomChannelText{
                            margin-left: 10px;
                            color: black;
                        }
                    }

                    .popUpWhenLike_item_bottomButton{
                        margin: 10px;

                        button{
                            color: white;
                            background-color: #1abc9c;
                            padding: 10px 5px;
                            font-weight: 700;
                            font-size: 11px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }

    .active{
        visibility: visible;
        bottom: 0px;
    }

    //THIS THING FOR ADS
    .videoDetails_bottomAd{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .modal{
        a{
            color: white;
            text-decoration: underline;
        }
    }

    .MuiTypography-body1 {
        font-size: 1.5rem;
        
    }
}

.videoDetails_displayComment{
    .videoDetails_displayComment_container{
        padding: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    button{
        font-size: 8px!important;
    }

    .videoDetails_commentButton{
        margin-left: 5px!important;
    }
}

@media only screen and (max-width: 780px) {

    .videoDetails_leftSide{
        width: 100%!important;
        .videoDetails_leftSide_option{

            .videoDetails_leftSide_optionItems{

                .videoDetails_leftSide_optionItem{
                    font-size: 12px!important;

                    .videoDetails_leftSide_optionIcon{
                        font-size: 20px;
                    }
                }
            }
        }
        .videoDetails_comment{
            display: none!important;
            
        }
        .videoDetails_displayComment{
            display: none;
        }
    }
    
    .videoDetails_rightSide{
        width: 100%!important;

        .videoDetails_rightSide_info{
            margin-right: 0px!important;
            margin: auto!important;
            margin-top: 5px!important;
        }

    }

    .videoDetails_bottom{
        display: block!important;
    }
  
}
